<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%= image_tag "welcome.jpg", class: "mx-auto", style: "height: 15rem;", alt: "The Book Explorer logo"  %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset your password</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <% min_password_len_message = nil %>
        <% if @minimum_password_length %>
          <% min_password_len_message = " (#{@minimum_password_length} characters minimum)" %>
        <% end %>
        <%= f.password_field :password, placeholder: "New password#{min_password_len_message}", autofocus: true, required: true, autocomplete: "new-password", class: 'relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm new password', autofocus: true, required: true, autocomplete: "new-password", class: 'relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: 'mt-6 cursor-pointer group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
      </div>
    <% end %>
  </div>
</div>
