<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%= image_tag "welcome.jpg", class: "mx-auto", style: "height: 15rem;", alt: "The Book Explorer logo"  %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Forgot your password?</h2>
      <p class="italic mt-2 text-center text-sm tracking-tight text-gray-400">Don't worry, it happens to the best of us</p>

    </div>

    <%= form_for(:user, :url => password_path(:user), data: { turbo: false }) do |f| %>
      <p class="mt-6 mb-2 text-center text-md tracking-tight text-gray-900">Enter your email and if it exists, we'll send you reset instructions</p>
      <div class="-space-y-px rounded-md shadow-sm">
        <%= f.email_field :email, autocomplete: 'email', placeholder: 'Email address', required: true, class: 'relative block w-full appearance-none rounded-none rounded-t-md rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm' %>
      </div>
      <%= f.submit 'Email me reset instructions', class: 'mt-6 cursor-pointer group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
    <% end %>
    <p class="mt-2 text-center text-sm text-gray-600">
      Take me to
      <%= link_to "the sign in page", new_user_session_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>
</div>

